gradio
msclap
gdown
aac-datasets
aac-metrics
absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
arrow
asttokens
attrs
audioread
black
Brotli
certifi
cffi
cfgv
charset-normalizer
click
codecarbon
colorlog
comm
debugpy
decorator
deepspeed
distlib
executing
filelock
flake8
frozenlist
fsspec
grpcio
h5py
hjson
huggingface-hub
hydra-colorlog
hydra-core
identify
idna
inflate64
iniconfig
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
lazy_loader
librosa
lightning
lightning-utilities
# llvmlite
llvmlite
Markdown
# MarkupSafe
MarkupSafe
matplotlib-inline
mccabe
mpmath
msgpack
multidict
multivolumefile
mypy-extensions
nest-asyncio
networkx
ninja
nltk
nodeenv
# numba
numba
# numpy
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
packaging
# pandas
pandas
parso
pathspec
pexpect
# pillow
pillow
platformdirs
pluggy
pooch
pre-commit
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
py7zr
pybcj
pycodestyle
pycparser
pycryptodomex
pydantic
pydantic_core
pyflakes
Pygments
pynvml
pyppmd
pytest
python-dateutil
pytorch-lightning
pytz
PyYAML
pyzmq
pyzstd
RapidFuzz
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
six
soundfile
soxr
stack-data
sympy
tensorboard
tensorboard-data-server
texttable
threadpoolctl
tokenizers
torch
torchaudio
torchlibrosa
torchmetrics
torchoutil
tornado
tqdm
traitlets
transformers
triton
types-python-dateutil
typing_extensions
tzdata
urllib3
virtualenv
wcwidth
Werkzeug
yarl